name: CI-Moseiik

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: [linux/amd64, linux/arm64]
    steps:
      # Step 1 : Configure environment
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # Step 2 : Install QEMU
      - name: Install QEMU (for cross-platform emulation)
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      # Step 3 : Build Docker image
      - name: Build Docker image
        run: |
          docker buildx build \
            --platform ${{ matrix.platform }} \
            -t moseiik-test:latest \
            -f docker/Dockerfile --load .

      # Step 4 : Run tests
      - name: Run tests
        run: |
          docker run \
            --platform ${{ matrix.platform }} \
            moseiik-test:latest
